*.classpath
*.prefs
*.iml
target/classes/application.properties
target/classes/com/nd/controller/ForgotPasswordController.class
*.class
target/classes/META-INF/MANIFEST.MF
*.jar
target/UserAccessService-0.0.1-SNAPSHOT.jar.original
*.lst
target/maven-archiver/pom.properties
target/classes/META-INF/maven/com.nd/SpinAndWin/pom.properties
.project
target/appengine-staging/app.yaml
target/SpinAndWin-0.0.1-SNAPSHOT.jar.original